<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta name="Description" content="About Me Page">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nathan Loria | About</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cyborg/bootstrap.min.css" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  <!-- begin style -->
  <style media="screen">
  .brad-100 {
    border-radius: 100vh;
  }
  .top-content {
    background: linear-gradient(to top, rgba(42, 159, 214, 1), rgba(4, 47, 102, .6)), url("https://sitesmedia.s3.amazonaws.com/detailsofdistinction/files/2014/06/bentley-bg2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    size: 100vw;
    font-size: 100vw;
  }
  .wr {
    min-height: 100vh;
    height: auto !important;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
  }
  .ico:hover {
    opacity: .5;
  }
  </style>
  <div class="wr">
    <!-- end style -->
    <div class="top-content">
      <div style="text-align:center" class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 style="font-family:Cabin Sketch" class="display-1"><b>Nathan Loria</b></h1>
          </div>
        </div>
      </div>
    </div>
    <!-- begin navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="border-width:0px;box-shadow: 0 0 10px rgba(42,159,214,.5)">
      <a class="navbar-brand" href="/">About Me</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">About
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/resume">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- end navbar -->

    <div class="container-fluid" style="margin-top:15px;z-index:10">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <h5>Hi, welcome to my website!</h5>
            <h2>Heres a little bit about me:</h2>
            <hr class="my-4">
            <p class="lead">{{ bio }}</p>
            <hr class="my-4">
            <p>Have any questions? Get in contact!</p>
            <button class="btn btn-primary btn-lg" onclick="appendform();" role="button">Contact me</button>
            <div class="container">
              <div class="col-md-12">
                <div id="contactform"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end jumbotron -->
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="height:80px;border-width:0px">
    <div style="float:left;display:inline-block">
      {% for i in icons %}
      <a target="_blank" href="{{ i.link }}"><img class="ico" src="{{ i.img_loc }}"/></a>
      {% endfor %}
    </div>
  </nav>
  <script type="text/javascript">
  function appendform() {
    if (document.getElementById('contact-form')) {
      document.getElementById('contactform').removeChild(document.getElementById('contact-form'));
    } else {
      my_form = document.createElement('FORM');
      my_form.id = 'contact-form';
      my_form.setAttribute('method', 'post');
      my_form.innerHTML = `
      <hr class="my-4">
      {% csrf_token %}
      {% load widget_tweaks %}
      {% for el in form %}
      <div class="form-group">
      {{ el|add_label_class:'col-form-label inlined' }}
      {{ el|add_class:'form-control form-control-sm thirtypercentwidth inlined' }}
      </div>
      {% endfor %}
      <input type="submit" value="Submit" class="btn btn-primary btn-sm brad">
      `;
      document.getElementById('contactform').appendChild(my_form);
    }
  }
  </script>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</html>
